absl-py==0.11.0
aiohttp==3.7.3
aiohttp-cors==0.7.0
aioredis==1.3.1
alabaster==0.7.12
annoy==1.17.0
appdirs==1.4.4
appnope==0.1.0
argon2-cffi==20.1.0
astunparse==1.6.3
async-generator==1.10
async-timeout==3.0.1
attrs==20.3.0
Babel==2.8.1
backcall==0.2.0
beautifulsoup4==4.9.3
bleach==3.3.0
blessings==1.7
blis==0.4.1
bs4==0.0.1
cachetools==4.1.1
catalogue==1.0.0
certifi==2020.11.8
cffi==1.14.3
cfgv==3.2.0
chardet==3.0.4
click==7.1.2
colorama==0.4.4
colorful==0.5.4
commonmark==0.9.1
cryptography==3.3.1
cycler==0.10.0
cymem==2.0.4
dask==2.30.0
decorator==4.4.2
defusedxml==0.6.0
detect-secrets==0.14.3
dill==0.3.3
distlib==0.3.1
docker==4.4.0
docutils==0.16
en-core-web-sm==2.3.1
english==2020.7.0
entrypoints==0.3
filelock==3.0.12
flake8==3.8.4
flatbuffers==1.12
flatten-dict==0.3.0
fsspec==0.8.4
futures==3.1.1
gast==0.3.3
gensim==3.8.3
google==3.0.0
google-api-core==1.23.0
google-auth==1.23.0
google-auth-oauthlib==0.4.2
google-cloud-bigquery==2.3.1
google-cloud-bigquery-storage==2.1.0
google-cloud-core==1.4.3
google-crc32c==1.0.0
google-pasta==0.2.0
google-resumable-media==1.1.0
googleapis-common-protos==1.52.0
goslate==1.5.1
gpustat==0.6.0
grpcio==1.32.0
h5py==2.10.0
hiredis==1.1.0
html5lib==1.1
identify==1.5.9
idna==2.10
imagesize==1.2.0
iniconfig==1.1.1
ipykernel==5.3.4
ipython==7.19.0
ipython-genutils==0.2.0
ipywidgets==7.5.1
jedi==0.17.2
Jinja2==2.11.2
joblib==0.17.0
json5==0.9.5
jsonschema==3.2.0
jupyter-client==6.1.7
jupyter-core==4.6.3
jupyterlab==2.2.9
jupyterlab-pygments==0.1.2
jupyterlab-server==1.2.0
Keras-Preprocessing==1.1.2
kiwisolver==1.3.1
libcst==0.3.14
locket==0.2.0
Markdown==3.3.3
MarkupSafe==1.1.1
matplotlib==3.3.3
mccabe==0.6.1
mistune==0.8.4
modin==0.8.2
monotonic==1.5
msgpack==1.0.0
multidict==5.0.2
murmurhash==1.0.4
mypy-extensions==0.4.3
nbclient==0.5.1
nbconvert==6.0.7
nbformat==5.0.8
neotime==1.7.4
nest-asyncio==1.4.3
networkx==2.5
nltk==3.5
nodeenv==1.5.0
notebook==6.1.5
numpy==1.19.4
nvidia-ml-py3==7.352.0
oauthlib==3.1.0
opencensus==0.7.11
opencensus-context==0.1.2
opt-einsum==3.3.0
packaging==20.4
pandarallel==1.5.1
pandas==1.1.4
pandas-gbq==0.14.1
pandocfilters==1.4.3
pansi==2020.7.3
parso==0.7.1
partd==1.1.0
pathlib2==2.3.5
pexpect==4.8.0
pickleshare==0.7.5
pigeon-jupyter==0.1.0
Pillow==8.0.1
plac==1.1.3
pluggy==0.13.1
pre-commit==2.8.2
preshed==3.0.4
prometheus-client==0.9.0
prompt-toolkit==2.0.7
proto-plus==1.11.0
protobuf==3.14.0
psutil==5.7.3
ptyprocess==0.6.0
py==1.9.0
py-spy==0.3.3
py2neo==2020.1.1
pyarrow==1.0.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycodestyle==2.6.0
pycparser==2.20
pydata-google-auth==1.1.0
PyDictionary==2.0.1
pydot==1.4.1
pyflakes==2.2.0
Pygments==2.7.2
pyparsing==2.4.7
pyrsistent==0.17.3
pytest==6.1.2
python-dateutil==2.8.1
python-dotenv==0.15.0
pytz==2020.4
PyYAML==5.3.1
pyzmq==20.0.0
ray==1.0.1.post1
recommonmark==0.6.0
redis==3.4.1
regex==2020.11.11
requests==2.24.0
requests-oauthlib==1.3.0
rsa==4.6
scikit-learn==0.23.2
scipy==1.5.4
seaborn==0.11.1
Send2Trash==1.5.0
six==1.15.0
sklearn==0.0
smart-open==3.0.0
snowballstemmer==2.0.0
soupsieve==2.0.1
spacy==2.3.2
Sphinx==3.3.0
sphinx-markdown-tables==0.0.15
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==1.0.3
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.4
srsly==1.0.4
stellargraph==1.2.1
swifter==1.0.7
symspellpy==6.7.0
tensorboard==2.4.1
tensorboard-plugin-wit==1.8.0
tensorflow==2.4.1
tensorflow-estimator==2.4.0
tensorflow-hub==0.11.0
termcolor==1.1.0
terminado==0.9.1
testpath==0.4.4
thinc==7.4.1
threadpoolctl==2.1.0
toml==0.10.2
toolz==0.11.1
tornado==6.1
tqdm==4.51.0
traitlets==5.0.5
typing-extensions==3.7.4.3
typing-inspect==0.6.0
urllib3==1.25.11
virtualenv==20.1.0
wasabi==0.8.0
wcwidth==0.2.5
webencodings==0.5.1
websocket-client==0.57.0
Werkzeug==1.0.1
widgetsnbextension==3.5.1
wrapt==1.12.1
yarl==1.6.3
